body {
  background-color: #ffffff;
  background-image: url(/assets/images/site/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
