.auth-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  @include print-styles('modal-background', 'background-color');

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;

  @include small {
    align-items: inherit;
  }

  @include tablet {
    align-items: inherit;
  }

}

  .auth {
    width: 100%;
    max-width: 558px;

    @include small {
      margin-top: 30px;
    }

    @include tablet {
      margin-top: 50px;
    }

  }

  .auth-intro {

    .site-logo {
      margin: 0 auto;
    }

  }

  .auth-body {
    margin-top: 25px;
    background-color: #ffffff;
    padding: 40px;

    strong {
      font-weight: bold;
    }

    p {
      font-size: 13px;
      line-height: 17px;
    }

  }

  .auth-form {
    margin-top: 20px;

    input {
      @include border-radius(3px);
      background-color: #ffffff;
      border: 1px solid #cccccc;
      font-family: Helvetica, Arial, sans-serif;
      font-size: 13px;
      padding: 10px;
      margin-bottom: 10px;
      width: 100%;

      &:focus {
        border-color: #888888;
        outline: none;
      }

    }

    .error {
      margin-top: 10px;
    }

  }

  .auth-options {
  }

  $primary-submit: #525BDA;
  $whitelabel-submit: #1C2125;

  .btn-submit {
    @extend %font--default;
    @include border-radius(3px);
    background-color: #0040fa;
    border: 1px solid #0040fa;
    color: #ffffff;
    cursor: pointer;
    font-size: 13px;
    padding: 8px 12px 6px 12px;

    @include primary {
      background-color: $primary-submit;
      border-color: $primary-submit;
    }

    @include whitelabel {
      background-color: $whitelabel-submit;
      border-color: $whitelabel-submit;
    }

    &:focus {
      border-color: darken(#0040fa, 40%);
      outline: none;

      @include primary {
        border-color: darken($primary-submit, 40%);
      }

      @include whitelabel {
        border-color: darken($whitelabel-submit, 40%);
      }

    }

    &.state--busy {
      border-color: #0040fa;
      opacity: 0.5;

      @include primary {
        border-color: $primary-submit;
      }

      @include whitelabel {
        border-color: $whitelabel-submit;
      }

    }

  }
