
.seeds-list {

  > li {
    margin-top: 16px;
  }

}

.seed {
  @extend %transition-default;
  cursor: pointer;
  display: flex;

  &:hover {
    @extend %shadow-red;

    .seed__info {
      @extend %white-faint;
    }
    
    .remove-button {
      display: block;
    }

  }

  &:active {

    .seed__info {
      @extend %white-faint-active;
    }

  }

}

  .seed--add {
    color: #{map_get($colours, highlight)};
    font-weight: 700;
    font-size: 1.2em;
    font-style: italic;
    cursor: pointer;

    &:hover {
      //color: #{map_get($colours, default)};
    }

  }

  .seed__thumb {
    @extend .thumb;
    width: 100px;
    height: 100px;
    background-color: rgba(179, 22, 94, 0.06);

    &.thumb--jeza {
      background-image: url(/assets/images/placeholder/jeza.jpg);
    }

    &.thumb--spark {
      background-image: url(/assets/images/placeholder/spark.jpg);
    }

  }

  .seed__info {
    @extend %transition-default;
    display: flex;
    flex-grow: 1;
    align-items: center;
    padding-left: 14px;
    position: relative;

    .remove-button {
      display: none;
      position: absolute;
      top: 10px;
      right: 10px;
      text-transform: uppercase;
    }

  }

  .seed__title {
    font-size: 1.3em;
    font-weight: 700;
    margin-bottom: 4px;
  }

  .seed__subtitle {
    color: #{map_get($colours, highlight)};
    font-size: 1.2em;
  }
