@mixin touch {

  .state--touch & {
    @content;
  }

}

@mixin tablet {

  .state--tablet & {
    @content;
  }

}

// Mobile
$small-width: 788px;
$small-width-1: 350px;
$small-width-2: 330px;
$small-width-3: 310px;

@mixin small {
  @media (max-width: #{$small-width}) {
    @content;
  }
}

@mixin small-1 {
  @media (max-width: #{$small-width-1}) {
    @content;
  }
}

@mixin small-2 {
  @media (max-width: #{$small-width-2}) {
    @content;
  }
}

@mixin small-3 {
  @media (max-width: #{$small-width-3}) {
    @content;
  }
}

.hide--small {

  @include small {
    display: none;
  }

}

.show--small {

  @include small {
    display: block;
  }

}
